﻿@using System.Security.Claims;
@{
    ViewBag.Title = "Index";
    var userAccessToken = @ViewData["user_access_token"];
}

<script>
    var accessToken = '@userAccessToken';

    if (accessToken) {
        localStorage.setItem("user_access_token", accessToken);
    }

</script>

<h2>Student Index</h2>

<div class="jumbotron" ng-controller="IdpController">



    <div class="container">
        <div class="row">



            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {

                var claimsPrincipal = HttpContext.Current.User as ClaimsPrincipal;

                foreach (var claim in claimsPrincipal.Claims)
                {
                    <div class="col-5"><b>@claim.Type</b></div> <div class="col-7">@claim.Value </div>
                }



                <button type="button" ng-click="logOut()">Logout</button>
                <button type="button" ng-click="callProtectedAPi()">CallProtectedAPi</button>

            }

            else
            {

                <button type="button" ng-click="signIn()">SignIn</button>

                // <p> < a href = "@Url.Action("SignIn", "Saml2")" class="btn btn-primary btn-lg">Login</a></p>
                @*foreach (var idp in Sustainsys.Saml2.Configuration.SustainsysSaml2Section.Current.IdentityProviders)
                    {
                    var entityId = idp.EntityId;
                    var destinationUrl = idp.SignOnUrl;
                    <br />
                    <a href="@Url.Content("~/Saml2/SignIn?idp=" + HttpUtility.UrlEncode(entityId))">Sign in</a>@: - @entityId - @destinationUrl


                    }*@
            }
        </div>
    </div>
</div>

